In [723]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [724]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

-  ### Subtask 1.1: Import and read

Import and read the movie database. Store it in a variable called `movies`.

In [725]:
movies = pd.read_csv('./Movie+Assignment+Data.csv')
movies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

-  ### Subtask 1.2: Inspect the dataframe

Inspect the dataframe's columns, shapes, variable types etc.

In [726]:
# Write your code for inspection here
print('---- Info of dataframe -----\n')
movies.info()
print()
print('--- Shape of dataframe ---- \n')
print(movies.shape)
print()
print('--- Columns of dataframe ---- \n')
movies.columns

---- Info of dataframe -----

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

--- Shape of dataframe ----

(5043, 28)

--- Columns of dataframe ----

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

## Task 2: Cleaning the Data

-  ### Subtask 2.1: Inspect Null values

Find out the number of Null values in all the columns and rows. Also, find the percentage of Null values in each column. Round off the percentages upto two decimal places.

In [727]:
# Write your code for column-wise null count here
print(movies.isnull().sum(axis=0))

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [728]:
# Write your code for row-wise null count here
print(movies.isnull().sum(axis=1))

0        0
1        0
2        0
3        0
4       14
        ..
5038     4
5039     5
5040     4
5041     2
5042     0
Length: 5043, dtype: int64

In [729]:
# Write your code for column-wise null percentages here
print(100*round(movies.isnull().sum(axis=0) / len(movies.index), 2))

color                         0.0
director_name                 2.0
num_critic_for_reviews        1.0
duration                      0.0
director_facebook_likes       2.0
actor_3_facebook_likes        0.0
actor_2_name                  0.0
actor_1_facebook_likes        0.0
gross                        18.0
genres                        0.0
actor_1_name                  0.0
movie_title                   0.0
num_voted_users               0.0
cast_total_facebook_likes     0.0
actor_3_name                  0.0
facenumber_in_poster          0.0
plot_keywords                 3.0
movie_imdb_link               0.0
num_user_for_reviews          0.0
language                      0.0
country                       0.0
content_rating                6.0
budget                       10.0
title_year                    2.0
actor_2_facebook_likes        0.0
imdb_score                    0.0
aspect_ratio                  7.0
movie_facebook_likes          0.0
dtype: float64

-  ### Subtask 2.2: Drop unecessary columns

For this assignment, you will mostly be analyzing the movies with respect to the ratings, gross collection, popularity of movies, etc. So many of the columns in this dataframe are not required. So it is advised to drop the following columns.
-  color
-  director_facebook_likes
-  actor_1_facebook_likes
-  actor_2_facebook_likes
-  actor_3_facebook_likes
-  actor_2_name
-  cast_total_facebook_likes
-  actor_3_name
-  duration
-  facenumber_in_poster
-  content_rating
-  country
-  movie_imdb_link
-  aspect_ratio
-  plot_keywords

In [730]:
# Write your code for dropping the columns here. It is advised to keep inspecting the dataframe after each set of operations 
movies_1 = movies.drop(['color', 'director_facebook_likes', 'actor_1_facebook_likes', 'actor_2_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name', 'cast_total_facebook_likes', 'actor_3_name', 'duration', 'facenumber_in_poster', 'content_rating', 'country', 'movie_imdb_link', 'aspect_ratio', 'plot_keywords'], axis=1)

# movies_1.head()
movies_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 13 columns):
director_name             4939 non-null object
num_critic_for_reviews    4993 non-null float64
gross                     4159 non-null float64
genres                    5043 non-null object
actor_1_name              5036 non-null object
movie_title               5043 non-null object
num_voted_users           5043 non-null int64
num_user_for_reviews      5022 non-null float64
language                  5031 non-null object
budget                    4551 non-null float64
title_year                4935 non-null float64
imdb_score                5043 non-null float64
movie_facebook_likes      5043 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 512.3+ KB

-  ### Subtask 2.3: Drop unecessary rows using columns with high Null percentages

Now, on inspection you might notice that some columns have large percentage (greater than 5%) of Null values. Drop all the rows which have Null values for such columns.

In [731]:
# Write your code for dropping the rows here
columns = movies_1.loc[:, 100*round(movies_1.isnull().sum(axis=0) / len(movies_1.index), 2) > 5].columns
for c in columns:
    movies_1 = movies_1[pd.notnull(movies_1[c])]

movies_1.info()
# columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 13 columns):
director_name             3891 non-null object
num_critic_for_reviews    3890 non-null float64
gross                     3891 non-null float64
genres                    3891 non-null object
actor_1_name              3888 non-null object
movie_title               3891 non-null object
num_voted_users           3891 non-null int64
num_user_for_reviews      3891 non-null float64
language                  3888 non-null object
budget                    3891 non-null float64
title_year                3891 non-null float64
imdb_score                3891 non-null float64
movie_facebook_likes      3891 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 425.6+ KB

-  ### Subtask 2.4: Drop unecessary rows

Some of the rows might have greater than five NaN values. Such rows aren't of much use for the analysis and hence, should be removed.

In [732]:
# Write your code for dropping the rows here
movies_1 = movies_1[movies_1.isnull().sum(axis=1) <= 5]
movies_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 13 columns):
director_name             3891 non-null object
num_critic_for_reviews    3890 non-null float64
gross                     3891 non-null float64
genres                    3891 non-null object
actor_1_name              3888 non-null object
movie_title               3891 non-null object
num_voted_users           3891 non-null int64
num_user_for_reviews      3891 non-null float64
language                  3888 non-null object
budget                    3891 non-null float64
title_year                3891 non-null float64
imdb_score                3891 non-null float64
movie_facebook_likes      3891 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 425.6+ KB

-  ### Subtask 2.5: Fill NaN values

You might notice that the `language` column has some NaN values. Here, on inspection, you will see that it is safe to replace all the missing values with `'English'`.

In [733]:
# Write your code for filling the NaN values in the 'language' column here
movies_1.loc[movies_1['language'].isnull(), ['language']] = 'English'
movies_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 13 columns):
director_name             3891 non-null object
num_critic_for_reviews    3890 non-null float64
gross                     3891 non-null float64
genres                    3891 non-null object
actor_1_name              3888 non-null object
movie_title               3891 non-null object
num_voted_users           3891 non-null int64
num_user_for_reviews      3891 non-null float64
language                  3891 non-null object
budget                    3891 non-null float64
title_year                3891 non-null float64
imdb_score                3891 non-null float64
movie_facebook_likes      3891 non-null int64
dtypes: float64(6), int64(2), object(5)
memory usage: 425.6+ KB

-  ### Subtask 2.6: Check the number of retained rows

You might notice that two of the columns viz. `num_critic_for_reviews` and `actor_1_name` have small percentages of NaN values left. You can let these columns as it is for now. Check the number and percentage of the rows retained after completing all the tasks above.

In [734]:
# Write your code for checking number of retained rows here
print('Number of rows retained ', len(movies_1.index))
print('Percentage of rows retained ', round(100*(len(movies_1.index) / len(movies.index)), 2))

Number of rows retained  3891
Percentage of rows retained  77.16

**Checkpoint 1:** You might have noticed that we still have around `77%` of the rows!

## Task 3: Data Analysis

-  ### Subtask 3.1: Change the unit of columns

Convert the unit of the `budget` and `gross` columns from `$` to `million $`.

In [735]:
# Write your code for unit conversion here
movies_1['budget'] = movies_1['budget'].apply(lambda x: round(x / 1000000, 2))
movies_1['gross'] = movies_1['gross'].apply(lambda x: round(x / 1000000, 2))

-  ### Subtask 3.2: Find the movies with highest profit

    1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`.
    2. Sort the dataframe using the `profit` column as reference.
    3. Extract the top ten profiting movies in descending order and store them in a new dataframe - `top10`

In [736]:
# Write your code for creating the profit column here
movies_1['profit'] = movies_1['gross'] - movies_1['budget']

In [737]:
# Write your code for sorting the dataframe here
movies_1.sort_values('profit', inplace=True)

In [738]:
top10 = movies_1.sort_values('profit', ascending=False).head(10)

top10

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
29,Colin Trevorrow,644.0,652.18,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,Jurassic World,418214,1290.0,English,150.0,2015.0,7.0,150000,502.18
26,James Cameron,315.0,658.67,Drama|Romance,Leonardo DiCaprio,Titanic,793059,2528.0,English,200.0,1997.0,7.7,26000,458.67
3024,George Lucas,282.0,460.94,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,Star Wars: Episode IV - A New Hope,911097,1470.0,English,11.0,1977.0,8.7,33000,449.94
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45
17,Joss Whedon,703.0,623.28,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.28
794,Joss Whedon,703.0,623.28,Action|Adventure|Sci-Fi,Chris Hemsworth,The Avengers,995415,1722.0,English,220.0,2012.0,8.1,123000,403.28
509,Roger Allers,186.0,422.78,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,The Lion King,644348,656.0,English,45.0,1994.0,8.5,17000,377.78
240,George Lucas,320.0,474.54,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,Star Wars: Episode I - The Phantom Menace,534658,3597.0,English,115.0,1999.0,6.5,13000,359.54
66,Christopher Nolan,645.0,533.32,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.32

-  ### Subtask 3.3: Drop duplicate values

After you found out the top 10 profiting movies, you might have notice a duplicate value. So, it seems like the dataframe has duplicate values as well. Drop the duplicate values from the dataframe and repeat `Subtask 3.2`.

In [739]:
# Write your code for dropping duplicate values here
top10.drop_duplicates(inplace=True)

In [740]:
# Write code for repeating subtask 2 here
top10.sort_values('profit', inplace=True)

**Checkpoint 2:** You might spot two movies directed by `James Cameron` in the list.

-  ### Subtask 3.4: Find IMDb Top 250

    1. Create a new dataframe `IMDb_Top_250` and store the top 250 movies with the highest IMDb Rating (corresponding to the column: `imdb_score`). Also make sure that for all of these movies, the `num_voted_users` is greater than 25,000.
Also add a `Rank` column containing the values 1 to 250 indicating the ranks of the corresponding films.
    2. Extract all the movies in the `IMDb_Top_250` dataframe which are not in the English language and store them in a new dataframe named `Top_Foreign_Lang_Film`.

In [741]:
# Write your code for extracting the top 250 movies as per the IMDb score here. Make sure that you store it in a new dataframe 
# and name that dataframe as 'IMDb_Top_250'
IMDb_Top_250 = movies_1.sort_values('imdb_score', ascending=False)[movies_1['num_voted_users'] > 25000].head(250)

IMDb_Top_250

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
1937,Frank Darabont,199.0,28.34,Crime|Drama,Morgan Freeman,The Shawshank Redemption,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.34
3466,Francis Ford Coppola,208.0,134.82,Crime|Drama,Al Pacino,The Godfather,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.82
2837,Francis Ford Coppola,149.0,57.30,Crime|Drama,Robert De Niro,The Godfather: Part II,790926,650.0,English,13.0,1974.0,9.0,14000,44.30
66,Christopher Nolan,645.0,533.32,Action|Crime|Drama|Thriller,Christian Bale,The Dark Knight,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.32
3355,Quentin Tarantino,215.0,107.93,Crime|Drama,Bruce Willis,Pulp Fiction,1324680,2195.0,English,8.0,1994.0,8.9,45000,99.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619,John Carpenter,318.0,47.00,Horror|Thriller,Jamie Lee Curtis,Halloween,157857,1191.0,English,0.3,1978.0,7.9,12000,46.70
2558,Edgar Wright,285.0,23.62,Action|Comedy|Mystery,Bill Bailey,Hot Fuzz,352695,687.0,English,8.0,2007.0,7.9,17000,15.62
0,James Cameron,723.0,760.51,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,886204,3054.0,English,237.0,2009.0,7.9,33000,523.51
353,John Lasseter,191.0,245.82,Adventure|Animation|Comedy|Family|Fantasy,Tom Hanks,Toy Story 2,385871,515.0,English,90.0,1999.0,7.9,0,155.82
3080,Steven Spielberg,215.0,434.95,Family|Sci-Fi,Henry Thomas,E.T. the Extra-Terrestrial,281842,515.0,English,10.5,1982.0,7.9,34000,424.45

In [742]:
Top_Foreign_Lang_Film = IMDb_Top_250[IMDb_Top_250['language'] != 'English']
Top_Foreign_Lang_Film

,director_name,num_critic_for_reviews,gross,genres,actor_1_name,movie_title,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
4498,Sergio Leone,181.0,6.10,Western,Clint Eastwood,"The Good, the Bad and the Ugly",503509,780.0,Italian,1.20,1966.0,8.9,20000,4.90
4747,Akira Kurosawa,153.0,0.27,Action|Adventure|Drama,Takashi Shimura,Seven Samurai,229012,596.0,Japanese,2.00,1954.0,8.7,11000,-1.73
4029,Fernando Meirelles,214.0,7.56,Crime|Drama,Alice Braga,City of God,533200,749.0,Portuguese,3.30,2002.0,8.7,28000,4.26
2373,Hayao Miyazaki,246.0,10.05,Adventure|Animation|Family|Fantasy,Bunta Sugawara,Spirited Away,417971,902.0,Japanese,19.00,2001.0,8.6,28000,-8.95
4921,Majid Majidi,46.0,0.93,Drama|Family,Bahare Seddiqi,Children of Heaven,27882,130.0,Persian,0.18,1997.0,8.5,0,0.75
4259,Florian Henckel von Donnersmarck,215.0,11.28,Drama|Thriller,Sebastian Koch,The Lives of Others,259379,407.0,German,2.00,2006.0,8.5,39000,9.28
4105,Chan-wook Park,305.0,2.18,Drama|Mystery|Thriller,Min-sik Choi,Oldboy,356181,809.0,Korean,3.00,2003.0,8.4,43000,-0.82
2323,Hayao Miyazaki,174.0,2.30,Adventure|Animation|Fantasy,Minnie Driver,Princess Mononoke,221552,570.0,Japanese,2400.00,1997.0,8.4,11000,-2397.70
1329,S.S. Rajamouli,44.0,6.50,Action|Adventure|Drama|Fantasy|War,Tamannaah Bhatia,Baahubali: The Beginning,62756,410.0,Telugu,18.03,2015.0,8.4,21000,-11.53
2970,Wolfgang Petersen,96.0,11.43,Adventure|Drama|Thriller|War,Jürgen Prochnow,Das Boot,168203,426.0,German,14.00,1981.0,8.4,11000,-2.57
4659,Asghar Farhadi,354.0,7.10,Drama|Mystery,Shahab Hosseini,A Separation,151812,264.0,Persian,0.50,2011.0,8.4,48000,6.60
1298,Jean-Pierre Jeunet,242.0,33.20,Comedy|Romance,Mathieu Kassovitz,Amélie,534262,1314.0,French,77.00,2001.0,8.4,39000,-43.80
4033,Thomas Vinterberg,349.0,0.61,Drama,Thomas Bo Larsen,The Hunt,170155,249.0,Danish,3.80,2012.0,8.3,60000,-3.19
2734,Fritz Lang,260.0,0.03,Drama|Sci-Fi,Brigitte Helm,Metropolis,111841,413.0,German,6.00,1927.0,8.3,12000,-5.97
2829,Oliver Hirschbiegel,192.0,5.50,Biography|Drama|History|War,Thomas Kretschmann,Downfall,248354,564.0,German,13.50,2004.0,8.3,14000,-8.00
2551,Guillermo del Toro,406.0,37.62,Drama|Fantasy|War,Ivana Baquero,Pan's Labyrinth,467234,1083.0,Spanish,13.50,2006.0,8.2,27000,24.12
3550,Denis Villeneuve,226.0,6.86,Drama|Mystery|War,Lubna Azabal,Incendies,80429,156.0,French,6.80,2010.0,8.2,37000,0.06
4000,Juan José Campanella,262.0,20.17,Drama|Mystery|Thriller,Ricardo Darín,The Secret in Their Eyes,131831,231.0,Spanish,2.00,2009.0,8.2,33000,18.17
2047,Hayao Miyazaki,212.0,4.71,Adventure|Animation|Family|Fantasy,Christian Bale,Howl's Moving Castle,214091,330.0,Japanese,24.00,2004.0,8.2,13000,-19.29
3423,Katsuhiro Ôtomo,150.0,0.44,Action|Animation|Sci-Fi,Mitsuo Iwata,Akira,106160,430.0,Japanese,1100.00,1988.0,8.1,0,-1099.56
4461,Thomas Vinterberg,98.0,1.65,Drama,Ulrich Thomsen,The Celebration,65951,258.0,Danish,1.30,1998.0,8.1,5000,0.35
2830,Alejandro Amenábar,157.0,2.09,Biography|Drama|Romance,Belén Rueda,The Sea Inside,64556,140.0,Spanish,10.00,2004.0,8.1,0,-7.91
4267,Alejandro G. Iñárritu,157.0,5.38,Drama|Thriller,Adriana Barraza,Amores Perros,173551,361.0,Spanish,2.00,2000.0,8.1,11000,3.38
2914,Je-kyu Kang,86.0,1.11,Action|Drama|War,Min-sik Choi,Tae Guk Gi: The Brotherhood of War,31943,224.0,Korean,12.80,2004.0,8.1,0,-11.69
3553,José Padilha,142.0,0.01,Action|Crime|Drama|Thriller,Wagner Moura,Elite Squad,81644,107.0,Portuguese,4.00,2007.0,8.1,11000,-3.99
3456,Vincent Paronnaud,242.0,4.44,Animation|Biography|Drama|War,Catherine Deneuve,Persepolis,70194,158.0,French,7.30,2007.0,8.0,14000,-2.86
4897,Sergio Leone,122.0,3.50,Action|Drama|Western,Clint Eastwood,A Fistful of Dollars,147566,235.0,Italian,0.20,1964.0,8.0,0,3.30
4284,Ari Folman,231.0,2.28,Animation|Biography|Documentary|Drama|History|War,Ari Folman,Waltz with Bashir,46107,156.0,Hebrew,1.50,2008.0,8.0,0,0.78
4144,Walter Salles,71.0,5.60,Drama,Fernanda Montenegro,Central Station,28951,257.0,Portuguese,2.90,1998.0,8.0,0,2.70
3344,Karan Johar,210.0,4.02,Adventure|Drama|Thriller,Shah Rukh Khan,My Name Is Khan,69759,235.0,Hindi,12.00,2010.0,8.0,27000,-7.98
1171,Yimou Zhang,283.0,0.08,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.00,2002.0,7.9,0,-30.92
3264,Michael Haneke,447.0,0.23,Drama|Romance,Isabelle Huppert,Amour,70382,190.0,French,8.90,2012.0,7.9,33000,-8.67
4415,Fabián Bielinsky,94.0,1.22,Crime|Drama|Thriller,Ricardo Darín,Nine Queens,38215,125.0,Spanish,1.50,2000.0,7.9,0,-0.28
2863,Clint Eastwood,251.0,13.75,Drama|History|War,Yuki Matsuzaki,Letters from Iwo Jima,132149,316.0,Japanese,19.00,2006.0,7.9,5000,-5.25
2493,Yimou Zhang,283.0,0.08,Action|Adventure|History,Jet Li,Hero,149414,841.0,Mandarin,31.00,2002.0,7.9,0,-30.92
4640,Cristian Mungiu,233.0,1.19,Drama,Anamaria Marinca,"4 Months, 3 Weeks and 2 Days",44763,172.0,Romanian,0.59,2007.0,7.9,14000,0.60
3677,Christophe Barratier,112.0,3.63,Drama|Music,Jean-Baptiste Maunier,The Chorus,44151,110.0,French,5.50,2004.0,7.9,0,-1.87
3510,Yash Chopra,29.0,2.92,Drama|Musical|Romance,Shah Rukh Khan,Veer-Zaara,34449,119.0,Hindi,7.00,2004.0,7.9,2000,-4.08

**Checkpoint 3:** Can you spot `Veer-Zaara` in the dataframe?

- ### Subtask 3.5: Find the best directors

    1. Group the dataframe using the `director_name` column.
    2. Find out the top 10 directors for whom the mean of `imdb_score` is the highest and store them in a new dataframe `top10director`.

In [743]:
# Write your code for extracting the top 10 directors here
top10director = movies_1.groupby('director_name').mean().sort_values('imdb_score', ascending=False).head(10)

top10director

,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes,profit
director_name,,,,,,,,,
Charles Chaplin,120.00,0.160000,1.430860e+05,211.000000,1.500000,1936.000000,8.600000,0.000000,-1.3400
Tony Kaye,162.00,6.710000,7.824370e+05,1420.000000,7.500000,1998.000000,8.600000,35000.000000,-0.7900
Damien Chazelle,535.00,13.090000,3.991380e+05,731.000000,3.300000,2014.000000,8.500000,129000.000000,9.7900
Ron Fricke,115.00,2.600000,2.245700e+04,69.000000,4.000000,2011.000000,8.500000,26000.000000,-1.4000
Alfred Hitchcock,290.00,32.000000,4.224320e+05,1040.000000,0.810000,1960.000000,8.500000,18000.000000,31.1900
Majid Majidi,46.00,0.930000,2.788200e+04,130.000000,0.180000,1997.000000,8.500000,0.000000,0.7500
Sergio Leone,138.00,4.966667,2.906917e+05,503.333333,10.466667,1971.333333,8.433333,10666.666667,-5.5000
Christopher Nolan,511.25,226.652500,1.013285e+06,2424.875000,125.625000,2007.125000,8.425000,103625.000000,101.0275
Marius A. Markevicius,26.00,0.130000,3.086000e+03,9.000000,0.500000,2012.000000,8.400000,0.000000,-0.3700
S.S. Rajamouli,44.00,6.500000,6.275600e+04,410.000000,18.030000,2015.000000,8.400000,21000.000000,-11.5300

**Checkpoint 4:** No surprises that `Damien Chazelle` (director of Whiplash and La La Land) is in this list.

-  ### Subtask 3.6: Find popular genres

You might have noticed the `genres` column in the dataframe with all the genres of the movies seperated by a pipe (`|`). Out of all the movie genres, the first two are most significant for any film.

1. Extract the first two genres from the `genres` column and store them in two new columns: `genre_1` and `genre_2`. Some of the movies might have only one genre. In such cases, extract the single genre into both the columns, i.e. for such movies the `genre_2` will be the same as `genre_1`.
2. Group the dataframe using `genre_1` as the primary column and `genre_2` as the secondary column.
3. Find out the 5 most popular combo of genres by finding the mean of the gross values using the `gross` column and store them in a new dataframe named `PopGenre`.

In [744]:
# Write your code for extracting the first two genres of each movie here
def extractGenre(g):
    genres = g.genres.split('|')
    if(len(genres) == 1):
        g['genre_1'] = genres[0]
        g['genre_2'] = genres[0]
    else:
        g['genre_1'] = genres[0]
        g['genre_2'] = genres[1]
        
    return g
    
movies_1 = movies_1.apply(extractGenre, axis=1)

In [745]:
movies_by_segment = movies_1.groupby(['genre_1', 'genre_2'])

movies_by_segment

In [746]:
PopGenre = movies_by_segment.mean().sort_values('gross', ascending=False).head(5)

PopGenre

                     num_critic_for_reviews       gross  num_voted_users  \
genre_1   genre_2
Family    Sci-Fi                 215.000000  434.950000    281842.000000
Adventure Sci-Fi                 344.375000  228.628750    290322.500000
          Animation              169.931624  116.998462    136037.273504
          Family                 215.742857  116.520000    149323.685714
Action    Adventure              228.796163  110.382566    183145.820144

                     num_user_for_reviews      budget   title_year  \
genre_1   genre_2
Family    Sci-Fi               515.000000   10.500000  1982.000000
Adventure Sci-Fi               915.500000  104.500000  2007.750000
          Animation            241.179487  106.843590  2006.487179
          Family               482.742857  104.480857  2004.257143
Action    Adventure            601.916067  100.151127  2002.381295

                     imdb_score  movie_facebook_likes      profit
genre_1   genre_2
Family    Sci-Fi       7.900000          34000.000000  424.450000
Adventure Sci-Fi       6.837500          29125.000000  124.128750
          Animation    6.645299           8634.316239   10.154872
          Family       6.434286          13709.514286   12.039143
Action    Adventure    6.365468          15573.194245   10.231439

**Checkpoint 5:** Well, as it turns out. `Family + Sci-Fi` is the most popular combo of genres out there!

-  ### Subtask 3.7: Find the critic-favorite and audience-favorite actors

    1. Create three new dataframes namely, `Meryl_Streep`, `Leo_Caprio`, and `Brad_Pitt` which contain the movies in which the actors: 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' are the lead actors. Use only the `actor_1_name` column for extraction. Also, make sure that you use the names 'Meryl Streep', 'Leonardo DiCaprio', and 'Brad Pitt' for the said extraction.
    2. Append the rows of all these dataframes and store them in a new dataframe named `Combined`.
    3. Group the combined dataframe using the `actor_1_name` column.
    4. Find the mean of the `num_critic_for_reviews` and `num_user_for_review` and identify the actors which have the highest mean.

In [747]:
# Write your code for creating three new dataframes here

Meryl_Streep = movies_1[movies_1['actor_1_name'] == 'Meryl Streep']

In [748]:
Leo_Caprio = movies_1[movies_1['actor_1_name'] == 'Leonardo DiCaprio']

In [749]:
Brad_Pitt = movies_1[movies_1['actor_1_name'] == 'Brad Pitt']

In [750]:
# Write your code for combining the three dataframes here
Combined = pd.concat([Meryl_Streep, Leo_Caprio, Brad_Pitt])

In [751]:
# Write your code for grouping the combined dataframe here
Combined = Combined.groupby('actor_1_name', as_index=False)

In [753]:
# Write the code for finding the mean of critic reviews and audience reviews here
Combined.mean().sort_values(['num_critic_for_reviews', 'num_user_for_reviews'], ascending=False)

,actor_1_name,num_critic_for_reviews,gross,num_voted_users,num_user_for_reviews,budget,title_year,imdb_score,movie_facebook_likes,profit
1,Leonardo DiCaprio,330.190476,125.742381,441958.857143,914.476190,82.452381,2005.476190,7.495238,52190.476190,43.290000
0,Brad Pitt,245.000000,66.321176,283583.823529,742.352941,69.294118,2004.352941,7.152941,14051.764706,-2.972941
2,Meryl Streep,181.454545,59.920909,73545.545455,297.181818,34.454545,2003.545455,6.745455,2934.090909,25.466364

**Checkpoint 6:** `Leonardo` has aced both the lists!